[Unit]
Description = Nextion Service delay timer (20210217)

[Timer]
OnBootSec=30sec
#Unit=nextion.service

[Install]
WantedBy=timers.target
