[Unit]
Description = lastheard daemon
After = xchange.service

[Service]
ExecStart = /usr/local/bin/lastheard
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
